[Unit]
Description=Mastodon group bot which reposts toots
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/mastodon-group-bot -config /etc/mastodon-group-bot/config.json -db /var/lib/mastodon-group-bot/mastodon-group-bot.db -log /var/log/mastodon-group-bot/mastodon-group-bot.log

[Install]
WantedBy=multi-user.target